button{
    background-color: green;
    color: #fff;
    padding: 10px 30px;
    font-size: larger;
    border-radius: 5px;
    border: none;
}
button:active{
    scale: 95%;
}
button:hover{
    cursor: pointer;
}