*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url("https://wallpapers.com/images/featured/nature-background-r7cib0aiunz1z4t4.jpg");
    height: 100%;
    width: 100%;
}
.main{
    display: flex;
    flex-wrap: wrap;
}
.parent{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    /* height: 320px; */
    width: 280px;
    background-color: rgba(69, 82, 64, 0.299);
    backdrop-filter: blur(8px);
    border-radius: 20px;
    padding: 20px;
    color: #fff;
    text-align: center;
    border: 1px solid #fff;
    /* justify-content: center; */
}
.image{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 10px;
    border: 2px solid rgb(169, 4, 169);
}
.image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.parent h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 22px;
}
.parent p{
    margin-top: 17px;
    font-size: 17px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    word-spacing: 4px;
}
.parent .icons{
    margin-top: 20px;
    display: flex;
    gap: 20px;
}
.icons .icu{
    background-color: rgba(255, 255, 255, 0.342);
    border-radius: 50%;
    padding: 5px;
}
.btn1{
    display: flex;
    gap: 8px;
    align-items: center;
}
.btn{
    background-color: #fff;
    color: rgb(175, 3, 155);
    padding: 10px 40px;
    border-radius: 20px;
    margin-top: 25px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    margin-bottom: 15px;
}
.btn01{
    background-color: #fff;
    color: rgb(175, 3, 155);
    padding: 10px 30px;
    border-radius: 20px;
    margin-top: 25px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    margin-bottom: 15px;
}
.btn:hover,.icu:hover, .btn01:hover{
    cursor: pointer;
    scale: 1.05;
    transition: 0.2s
}