.parent{
  width: 300px;
  background-color: #91bf7d;
  margin: 20px;
  border-radius: 20px;
  box-shadow: 8px 8px 15px rgba(31, 20, 5, 0.821);
}
.parent .top img{
  height: 180px;
  width: 100%;
  border-start-end-radius: 10px;
  border-start-start-radius: 10px;
}
.parent .bottom{
  padding: 15px;
  color: white;
}
.bottom p{
  font-size: 15px;
}

.bottom button{
  background-color: rgba(195, 192, 192, 0.426);
  border-radius: 20px;
  border: none;
  padding: 7px 10px;
  margin: 10px;
  margin-left: 0;
  color: white;
}
.bottom .reserve{
  text-align: center;
  background-color: #fff;
  color: black;
  font-size: 20px;
  font-weight: 500;
  border-radius: 25px;
  padding: 10px 20px;
  word-spacing: 5px;
}
.main{
  display: flex;
  flex-wrap: wrap;
}